<%- include('templates/header') %>

    <%- include('templates/navbar.ejs') %>


        <section id="main">
            <div class="container rip-stretch-heigth pt-3">

                <p class="text-justify rip-w-75 h2 mx-auto mb-4">About RIPAAP</p>

                <p class="text-justify rip-w-75 h5 mx-auto">
                    RIPAAP, which stands for Reference Interval for Pediatric and Adult African Populations, is a
                    pioneering platform dedicated to providing accurate and up-to-date chemical and hematological
                    reference interval data tailored specifically for African populations.
                </p>

                <p class="text-justify rip-w-75 h4 mx-auto mt-3">
                    Our Mission
                </p>
                <p class="text-justify rip-w-75 h5 mx-auto">
                    Our mission is to bridge the gap in medical diagnostics by offering reference intervals that are
                    reflective of the unique genetic, environmental, and lifestyle factors of African populations. For
                    too
                    long, African patients have been assessed using outdated data derived from European populations,
                    leading
                    to potential inaccuracies in diagnosis and treatment. RIPAAP aims to change that by delivering
                    reliable
                    data curated directly from African countries.
                </p>
                <p class="text-justify rip-w-75 h4 mx-auto mt-3">
                    The Project
                </p>
                <p class="text-justify rip-w-75 h5 mx-auto">
                    RIPAAP is the result of a visionary project led by Dr. Kwabena Sarpong, a distinguished lecturer at
                    the
                    University of Ghana and a dedicated researcher at the West African Center for Cell and Biologically
                    Infectious Pathogens (WACCBIP). Driven by a commitment to improve healthcare standards in Africa,
                    Dr.
                    Sarpong and his team embarked on this project to ensure that healthcare providers have access to
                    relevant and precise reference intervals for their patients.
                </p>
                <p class="text-justify rip-w-75 h4 mx-auto mt-3">
                    Our Team
                </p>
                <p class="text-justify rip-w-75 h5 mx-auto">
                    The development of RIPAAP was brought to life by Baron Afutu, a talented software engineer who
                    meticulously crafted the website to function as an intuitive and powerful search engine. This
                    platform
                    allows healthcare professionals to easily access curated reference interval data, enhancing their
                    ability to make informed clinical decisions.
                </p>
                <p class="text-justify rip-w-75 h4 mx-auto mt-3">
                    Why RIPAAP?
                </p>
                <p class="text-justify rip-w-75 h5 mx-auto">
                    <b>- Targeted Data:</b> Unlike traditional reference intervals based on outdated data from
                    non-African
                    populations, RIPAAP offers intervals specifically curated from African countries, ensuring
                    greater
                    accuracy and relevance. <br>
                    <b>-Comprehensive Resource:</b>RIPAAP serves as a comprehensive resource for both pediatric and
                    adult
                    populations, covering a wide range of chemical and hematological parameters.
                    <b>-User-Friendly Interface:</b>Developed with healthcare professionals in mind, RIPAAP's search
                    engine
                    is designed for ease of use, allowing quick access to critical information.
                </p>
                <p class="text-justify rip-w-75 h4 mx-auto mt-3">
                    Join Us
                </p>
                <p class="text-justify rip-w-75 h5 mx-auto">
                    Join us in our mission to enhance the quality of healthcare across Africa. By using RIPAAP, you are
                    contributing to a more accurate, effective, and culturally appropriate healthcare system.
                </p>
                <p class="text-justify rip-w-75 h5 mx-auto mt-3">
                    Thank you for visiting RIPAAP. Together, we can make a difference in the lives of countless African
                    patients.
                </p>
                <!-- <p class="text-justify rip-w-75 h5 mx-auto">

                </p>
                <p class="text-justify rip-w-75 h4 mx-auto mt-1">

                </p>
                <p class="text-justify rip-w-75 h5 mx-auto">

                </p> -->







            </div>
        </section>


        <%- include('templates/footer',{'extra':false,'panel':false}) %>

            </html>