<%- include('templates/header') %>

<%- include('templates/navbar.ejs') %>


    <section id="main">
        <div class="container rip-stretch-heigth">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="mr-md-0 ml-md-auto mx-auto rip-w-75">
                        <img src="/img/ripaap_logo.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="my-2 my-lg-5 rip-mob-center">
                        <span class="display-1 font-weight-bold">
                            RIPAAP
                        </span><br>
                        <span class="h4">Reference Intervals for Pediatric and Adult African Populations</span>
                    </div>
                </div>
            </div>


            <div class="w-100 text-center my-4">
                <a href="\search" class="btn btn-danger rip-shadow w-75 mx-auto">Search Database</a>
            </div>

            <p class="text-justify rip-w-75 h2 mx-auto mt-5">
                Your Essential Guide to Accurate Lab Analyses
            </p>
            <p class="text-justify rip-w-75 h5 mx-auto mb-4">
                Unlock precise chemical and hematological reference intervals for pediatric and adult populations tailored specifically for the African demographic. Empower your medical practice with reliable data, curated for accurate diagnostics and effective treatment plans. Join thousands of medical professionals enhancing lab analyses with the most relevant reference intervals designed for our unique population. Explore RIPAAP today and elevate your lab accuracy!
            </p>
        </div>
    </section>



    <%- include('templates/footer',{'extra':false,'panel':false}) %>
<!-- <script>
    $(document).ready(function () {

    });
</script> -->

</html>