<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Autounited - Landing Page</title>
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="fontawesome-5.15/css/all.min.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/datatables.min.css" />
</head>

<body>
    <section id="main">
        <div class="container">
            <div class="w-75 mx-auto">
                <div class="text-center">Login</div>
                <form action="#">
                    <div class="row">
                        <div class="col-3">Email</div>
                        <div class="col-8"><input type="email" class="form-control rounded" required></div>
                    </div>
                    <div class="row">
                        <div class="col-3">Password</div>
                        <div class="col-8"><input type="password" class="form-control rounded" required></div>
                    </div>
                    <div class="w-25 mx-auto">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<script src="js/jquery-3.7.0.min.js"></script>
<!-- <script src="js/jquery.singlePageNav.min.js"></script> -->
<script src="js/bootstrap.min.js"></script>
<script src="js/datatables.min.js"></script>
<script>
</script>

</html>