<footer class="page-footer font-small rip-bg-info pt-1 mt-3 rounded">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mt-md-2 mt-3">

                <!-- Content -->
                <span>A product of </span> <br>
                <a href="#" class="text-uppercase mt-0 h5 pl-2">Sarpong Labs</a>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-12 col-md-8 footer-copyright h5 pt-3">
                Copyright &copy; 2023 <a href="#">Sarpong Labs.</a> All rights reserved.
            </div>

            <!-- Grid column -->
            <!-- <div class="col-md-3 mb-md-0 mb-3">

                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                </ul>

            </div> -->
            <!-- Grid column -->

            <!-- <div class="col-md-3 mb-md-0 mb-3">

                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                </ul>

            </div> -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-0">© 2020 Copyright:
        <a href="/"> MDBootstrap.com</a>
    </div> -->


</footer>


</body>
<script type="text/javascript"  src="/js/jquery-3.7.0.min.js"></script>
<!-- <script src="js/jquery.singlePageNav.min.js"></script> -->
<script type="text/javascript"  src="/js/bootstrap.min.js"></script>