<%- include('header') %>
    <%- include('navbar',{'page':'dashboard'}) %>


    <section id="main" class="rip-stretch-heigth" data-page="#dashboard">
        <div class="container">

            <!-- DASHBOARD -->
            <div class="mt-5 section rip-min-height" id="dashboard">
                <h3>Dashboard</h3>
                &nbsp;
            </div>


        </div>
    </section>

    <%- include('../templates/footer',{'extra':true,'panel':true}) %>

</html>