<%- include('header') %>
    <%- include('navbar',{'page':'data'}) %>


        <section id="main" class="rip-stretch-heigth" data-page="#data">
            <div class="container">

                <!-- RIPAAP DATA -->
                <div id="data" class="mt-5 section">
                    <div class="row">
                        <div class="col-10">
                            <h3>Data</h3>
                        </div>
                        <!-- <div class="col-2 text-right">
                            <button class="btn btn-outline-success" data-toggle="modal" data-target="#addDataModal">
                                <i class="fa fa-plus"></i> Data</button>
                        </div> -->
                    </div>
                    <form action="#" id="filterDataForm">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group my-2 ml-3">
                                    <label class="col-form-label-lg" for="uploadTestType">Test Type</label>
                                    <select name="testType" id="uploadTestType" class="form-control select2-base"
                                        required>
                                        <option value="" selected disabled> --- Select Test Type --- </option>
                                        <option value="hematology">Hematology Analytes</option>
                                        <option value="chemical">Chemical Analytes</option>
                                    </select>
                                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with
        anyone else.</small> -->
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group my-2 ml-3">
                                    <label class="col-form-label-lg" for="uploadTestName">Test Name</label>
                                    <select name="testName" id="uploadTestName" class="form-control select2-base"
                                        required disabled>
                                        <option value=""></option>
                                    </select>
                                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with
        anyone else.</small> -->
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="form-group my-2 ml-3">
                                    <label class="col-form-label-lg" for="uploadAgeGroup">Age Group</label>
                                    <select name="ageGroup" id="uploadAgeGroup" class="form-control select2-base"
                                        required>
                                        <option value="" selected disabled> --- Select Age Group --- </option>
                                        <option value="pediatric">Pediatric</option>
                                        <option value="adult">Adult</option>
                                        <option value="geriatric">Geriatric</option>
                                    </select>
                                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with
        anyone else.</small> -->
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="form-group my-2 ml-3">
                                    <label class="col-form-label-lg" for="findTest">
                                        &nbsp; <br>
                                        <button class="nav-link btn btn-outline-secondary btn-sm mt-2 h1" id="filterBtn">
                                            <i class="fa fa-funnel"></i> Filter
                                        </button>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div id="preview" class="text-center overflow--auto" style="display: none;">
                        <table class="table table-responsive table-striped mt-4 pl-3" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Reference</th>
                                    <th>Age Group</th>
                                    <th>LRL</th>
                                    <th>URL</th>
                                    <th>Mean</th>
                                    <th>SD</th>
                                    <th>CV</th>
                                    <th>Sample Size</th>
                                    <th>Gender</th>
                                    <!-- <th>Unit</th> -->
                                    <th>Analyser</th>
                                    <th>Country</th>
                                    <th>Link to Publication</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <!-- <td colspan="8"><div class="loader"></div></td> -->
                                    <td colspan="13"><i class="fa fa-spinner fa-spin fa-5x"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <!--DELETE DATA MODAL-->
                    <div class="modal fade" id="deleteDataModal" tabindex="-1" role="dialog"
                        aria-labelledby="deleteData" aria-hidden="true" data-id="">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <!-- <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
                                <div class="modal-body h4">
                                    Are you sure you want to delete this RIPAAP record?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" id="deleteDataBtn"
                                        data-dismiss="modal">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--ADD DATA MODAL-->
                    <!-- <div class="modal fade" id="addDataModal" tabindex="-1" role="dialog" aria-labelledby="addData"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form action="#" method="POST" id="addDataForm">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addDataModalLabel">Add New Data</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body h4">


                                        <div class="input-group mb-3 w-100">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="testnameLable">Test Name</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Name"
                                                aria-label="testName" aria-describedby="testnameLable" name="testName"
                                                id="testName" required>
                                        </div>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="units">Units</span>
                                            </div>
                                            <input type="text" class="form-control" name="si" id="si"
                                                placeholder="SI Unit" required>
                                            <input type="text" class="form-control" name="conventional"
                                                id="conventional" placeholder="Convention Unit">
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary discard-form"
                                            data-form="addDataForm" data-dismiss="modal">Discard</button>
                                        <input type="submit" class="btn btn-danger" id="addDataBtn"
                                            value="Save"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> -->


                    <!--EDIT DATA MODAL-->
                    <div class="modal fade" id="editDataModal" tabindex="-1" role="dialog" aria-labelledby="editData"
                        aria-hidden="true" data-id="">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form action="#" method="POST" id="editDataForm">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addDataModalLabel">Edit Data</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body h4">

                                        <!-- Edit form inputs -->


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary discard-form"
                                            data-form="editDataForm" data-dismiss="modal">Discard</button>
                                        <input type="submit" class="btn btn-danger" id="editDataBtn"
                                            value="Save"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <%- include('../templates/footer') %>

            <script type="text/javascript" src="/js/select2.min.js"></script>
            <script type="text/javascript" src="/js/datatables.min.js"></script>
            <script type="text/javascript" src="/js/panel.js"></script>
            <script type="text/javascript" src="/js/uploadData.js"></script>

            </html>