<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>RIPAAP - Admin Panel</title>
    <link rel="shortcut icon" href="/img/ripfavicon.png">
    <link rel="stylesheet" href="/fontawesome-5.15/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="/css/select2.min.css" /> -->
    <link rel="stylesheet" href="/css/datatables.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>