<nav class="navbar navbar-expand-lg navbar-light bg-light shadow mt-2 rip-nav-pill px-3 mx-1">
    <a class="navbar-brand" href="/">
        <img src="/img/ripaap_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        RIPAAP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-md-5">
            <li class="nav-item">
                <a class="nav-link active" href="#dashboard" data-section="#dashboard">
                    Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#users" data-section="#users">
                    Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#admins" data-section="#admins">
                    Admins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tests" data-section="#tests">
                    Test Types</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#data" data-section="#data">
                    RIPAAP Data</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
        </ul>
        <div class="my-2 my-lg-0">
            <a href="/" class="btn btn-outline-danger my-2 my-sm-0">Home</a>
            <a href="/users/logout" class="btn btn-outline-danger my-2 my-sm-0">Logout</a>
        </div>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>